/*BACKGROUNDS*/
$bg-dark: #1D3D3F;
$bg-darker: #133034;
$bg-light: #fff;

/*FONT COLORS*/
$text-primary: #D4DAEA;
$text-dark: #1D3D3F;
$text-darker: #133034;
$text-light: #D4DAEA;
$text-modal: #9C9EA4;
$text-modal-dark: #63666C;
$text-white: #fff;

/*BUTTON AND BORDER COLORS*/
$blue: #81C0FA;
$green: #89F46E;
$pink: #e56ef0;