@use '../../sass/variables';

.timer {
  width: 80vw;
  height: 80vw;
  max-width: 20rem;
  max-height: 20rem;
  min-width: 15rem;
  min-height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: variables.$bg-darker;
  box-shadow: -5px -5px 23px 7px rgb(255 255 255 / 19%),
    4px 5px 10px rgb(0 0 0 / 50%);

  &__inner {
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    border-radius: 50%;
    border: 7px solid transparent;

    &.blue {
      border-color: variables.$blue;
    }

    &.pink {
      border-color: variables.$pink;
    }

    &.green {
      border-color: variables.$green;
    }

    .time {
      font-size: clamp(1rem, 14vw, 5rem);
      font-family: "Roboto Slab", serif;
      color: variables.$text-primary;
    }

    .pause {
      font-size: 1rem;
      font-family: "Roboto Slab", serif;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1rem;
      margin-right: -0.9rem;
      cursor: pointer;
      color: variables.$text-primary;
    }
  }
}
