@use '../../sass/variables';

.buttonsContainer {
    width: 90vw;
    max-width: 40rem;
    display: flex;
    justify-content: space-between;
    border-radius: 5rem;
    padding: 0.5rem;
    margin-bottom: 5rem;
    background-color: variables.$bg-darker;
}

.button {
    width: 30%;
    padding: 1.5rem 0;
    margin: 0 0.3rem;
    font-size: clamp(0.8rem, 3vw, 1.2rem);
    font-weight: bold;
    cursor: pointer;
    border-radius: 3rem;
    border: none;
    color: variables.$text-primary;
    background-color: transparent;

    &.active {
        color: variables.$text-dark;
    }

    &.blue {
        background-color: variables.$blue;
    }

    &.green {
        background-color: variables.$green;
    }

    &.pink {
        background-color: variables.$pink;
    }
}

